<div style="padding: 50px;">
    <h3 style="font-size: 140px;color: white;opacity: 0.3;text-align: center;margin-top: 100px;"><%- message %></h3>
    <h1 style="font-size: 100px;color: darkorange;text-align: center;"><%- status %></h1>
</div>