<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Scan Document</title>


    <style type="text/css">
        /*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');*/

        @font-face {
            font-family: TTfirs;
            src: url(https://cdn2.hubspot.net/hubfs/21645343/Business-card-scanner-assets/fonts/TTFirsNeue-Regular.ttf)
        }

        @font-face {
            font-family: TTfirs_light;
            src: url(https://cdn2.hubspot.net/hubfs/21645343/Business-card-scanner-assets/fonts/TTFirsNeue-Light.ttf)
        }

        @font-face {
            font-family: TTfirs_bold;
            src: url(https://cdn2.hubspot.net/hubfs/21645343/Business-card-scanner-assets/fonts/TTFirsNeue-Medium.ttf)
        }

        @font-face {
            font-family: TTfirs_x_bold;
            src: url(https://cdn2.hubspot.net/hubfs/21645343/Business-card-scanner-assets/fonts/TTFirsNeue-DemiBold.ttf)
        }


        :root {
            --primary: #213871;
            --white: #ffffff;
            --secondary: #EB5E57;
            --lightBg: #fff5f2;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'TTfirs', sans-serif;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.5;
            padding: 0;
            margin: 0;
            color: var(--primary);
        }

        .main {
            background-color: var(--lightBg);
        }

        .logo {
            position: relative;
            width: 150px;
            max-height: 100%;
            top: 30px;
            left: 0;
            z-index: 151;
        }

        .wrapper {
            max-width: 1230px;
            margin: 0 auto;
            padding: 0 15px;
        }

        .steps .step {
            display: none;
            padding: 40px 20px;
        }

        .steps .step.step1 {
            display: block;
            background-color: var(--white);
        }

        .steps {
            text-align: center;
            min-height: calc(100vh - 37px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            z-index: 2;
            flex-direction: column;
            padding-top: 66px;
            padding-bottom: 66px;
        }

        .scannerScreen {
            position: relative;
            padding: 25px;
            max-width: 350px;
            width: 100%;
            aspect-ratio: 1;
        }

        .scannerScreen span.scannerFrame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .scannerScreen span.scannerFrame svg {
            width: 100%;
            height: 100%;
            display: block;
        }

        .scannerScreen span.scannerFrame svg path {
            fill: var(--secondary);
        }

        .scannerScreen video {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .scannerBtn {
            margin-top: 30px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: block;
            font-family: 'TTfirs_light', sans-serif;
            color: var(--primary);
        }

        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child {
            margin-top: 0;
        }

        h1:last-child,
        h2:last-child,
        h3:last-child,
        h4:last-child,
        h5:last-child,
        h6:last-child {
            margin-bottom: 0;
        }

        .button,
        button,
        .hs-button {
            font-family: 'TTfirs_bold', sans-serif;
            color: var(--primary);
            background-color: transparent;
            padding: 15px 20px;
            border: 2px solid var(--primary);
            border-radius: 0;
            font-size: 16px;
            line-height: 1;
            transition: all ease-in 0.2s;
            text-align: center;
            cursor: pointer;
        }

        .button:hover,
        button:hover,
        .hs-button:hover,
        button.alternate,
        .button.alternate {
            background: var(--secondary);
            color: var(--white);
            border-color: var(--secondary);
        }

        button.alternate:hover,
        .button.alternate:hover {
            background: var(--primary);
            color: var(--white);
            border-color: var(--primary);
        }

        video {
            /*-webkit-transform: scaleX(-1);*/
            /*transform: scaleX(-1);*/
            margin-top: 5px;
        }

        .steps .step.step3,
        .step4 {
            text-align: center;
            background-color: var(--white);
        }

        .steps .step.step3 h3 {
            margin-bottom: 30px;
            font-size: 24px;
        }

        .main {
            position: relative;
        }

        .main .illustration {
            position: absolute;
            z-index: 1;
            opacity: 0.8;
            bottom: 0;
            right: 0;
            width: 350px;
            height: auto;
        }

        #rotateCamera {
            display: none;
            margin: 0 auto;
        }

        .main .illustration svg {
            width: 100%;
            height: 100%;
            display: block;
        }

        .hbspt-form {
            display: none;
        }

        .box-type {
            width: 100%;
            max-width: 700px;
            padding-left: 60px;
            padding-right: 60px;
        }

        .hs-form__field__label:not([class*="checkbox"]) {
            font-size: 16px;
            display: block;
            margin: 25px 0 5px;
        }

        .hs-form__field__label:not([class*="checkbox"]) p {
            margin: 0;
        }


        form label {
            font-size: 14px;
        }

        form>ul>li:not(:first-child) {
            margin-top: 22px;
        }

        form br {
            display: none;
        }

        .formContainer form {
            width: 100%;
            max-width: 100%;
        }

        .formContainer form ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .formContainer form fieldset {
            width: 100%;
            max-width: 100%;
            float: unset;
            display: flex;
            margin: 0;
            text-align: left;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .formContainer form fieldset+fieldset .hs-form-field {
            margin-top: 19px;
        }

        .formContainer form .form-columns-2 .hs-form-field {
            width: calc(50% - 10px) !important;
            float: unset;
        }

        .formContainer form .form-columns-1 .hs-form-field {
            width: 100%;
            float: unset;
        }

        .formContainer form fieldset .input {
            margin: 0;
            width: 100%;
        }

        .formContainer form fieldset .input input[type=text],
        .formContainer form fieldset .input input[type=phone],
        .formContainer form fieldset .input input[type=email],
        .formContainer form fieldset .input input[type=password],
        .formContainer form fieldset .input select,
        .formContainer form fieldset .input textarea {
            width: 100% !important;
            font-size: 15px;
            line-height: 1.5;
            font-family: inherit;
            padding: 10px 12px;
            color: var(--primary);
            border: 1px solid var(--secondary);
            outline: none;
            height: auto;
        }

        .formContainer form fieldset .input input[type=text]:focus,
        .formContainer form fieldset .input input[type=phone]:focus,
        .formContainer form fieldset .input input[type=email]:focus,
        .formContainer form fieldset .input input[type=password]:focus,
        .formContainer form fieldset .input select:focus,
        .formContainer form fieldset .input textarea:focus {
            border-color: var(--primary);
        }

        .formContainer form ul li+li {
            margin-top: 10px;
        }

        .formContainer form .hs_submit {
            padding-top: 40px;
        }

        .formContainer form .hs-button {
            font-family: 'TTfirs_bold', sans-serif;
            color: var(--primary);
            background-color: transparent;
            padding: 15px 20px;
            border: 2px solid var(--primary);
            border-radius: 0;
            font-size: 16px;
            line-height: 1;
            transition: all ease-in 0.2s;
            text-align: center;
            cursor: pointer;
            width: auto;
            min-width: 200px;
        }

        .hs-button:hover {
            background: var(--secondary);
            color: var(--white);
            border-color: var(--secondary);
        }

        @media(max-width: 640px) {
            .box-type {
                padding-left: 20px;
                padding-right: 20px;
            }
            .formContainer form .form-columns-2 .hs-form-field {
                width: 100% !important;
            }

            .formContainer form .form-columns-2 .hs-form-field+.hs-form-field {
                margin-top: 19px;
            }
        }

        /* Flipping the canvas image as it was not mirror view */
        /* #canvas */
    </style>
</head>

<body>
    <div class="jumbotron main">
        <div class="wrapper">
            <div class="logo">
                <a href="https://www.terrapay.com/" target="_blank" noopener title="Terrapay">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 355.27 68.41">
                        <g id="terrapay" data-name="Layer 2">
                            <g id="terrapay-logo-group" data-name="Layer 1">
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-1" fill="#e35e57"
                                    d="M51.92,43.48a18.32,18.32,0,0,0,13.52-3.2l5.45,7.62C69,50.08,60.77,54,52.56,54,29,54.69,32.25,32.72,32.25,32.72c.32-4.87,6-23.7,28.64-22.43C83.34,11.54,74.8,36.17,74.8,36.17H44S43.66,42.33,51.92,43.48ZM45.84,27.27H65.57s.64-6.6-8.71-6.6A12.2,12.2,0,0,0,45.84,27.27Z" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M95.56,11.48H84.3L76.94,53.19h12.2l3.7-21.6a12.21,12.21,0,0,1,3-6.2,11,11,0,0,1,5.3-3.24c6.3-1.69,9.39,1.64,9.39,1.64l6.83-9.51a12.26,12.26,0,0,0-9.16-3.86c-6,0-9.69,2.81-12.43,5.55Z" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M133.35,11.48H122.09l-7.35,41.71h12.19l3.7-21.6a12.29,12.29,0,0,1,3-6.2,11,11,0,0,1,5.3-3.24c6.3-1.69,9.4,1.64,9.4,1.64l6.82-9.51A12.26,12.26,0,0,0,146,10.42c-6,0-9.68,2.81-12.42,5.55Z" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M190.12,11.48h11.56l-7.61,41.7H183.3l.1-5.14C178.26,53.18,173.32,54,167.89,54c-11.17-.1-17.59-9.19-16.21-21.44a25,25,0,0,1,22.83-21.94c11.92-.82,14.42,5.52,14.42,5.52Zm-4,20.33s1.62-10.54-9.17-10.59c-11.83-.06-13,11.71-13,11.71s-1.72,10.48,9.76,10.36C184.69,43.17,186.11,31.81,186.11,31.81Z" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M23.76,11.42c1.13-6.36,2-11.42,2-11.42L13.45,1.34,11.69,11.42H1.52L0,21.45H9.94l-3,17.33S5.71,45.85,8.13,49.15s6.94,7.07,20.94,3l-.94-10s-7.88,3.23-9-1.48a8.87,8.87,0,0,1,.18-4.17c.16-.74.52-3,1.59-9l-2.34-5.93h8.38a12,12,0,0,0,11.87-10h-15Z" />
                                <polygon xmlns="http://www.w3.org/2000/svg" class="cls-1" fill="#e35e57"
                                    points="20.88 27.38 0 21.45 18.54 21.45 20.88 27.38" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M242.6,12.75a16.76,16.76,0,0,1,6.58,6.47,19.59,19.59,0,0,1,2.44,10,25.23,25.23,0,0,1-3.06,12.42,22.46,22.46,0,0,1-20,11.81q-9.53,0-13.47-6.2L211,67.79H198.9l11.3-56.66h11.46l-.85,4.1a18.24,18.24,0,0,1,12.77-4.72A18.7,18.7,0,0,1,242.6,12.75Zm-9.1,28.92a11.85,11.85,0,0,0,4.34-4.84,15.74,15.74,0,0,0,1.55-7.12A9,9,0,0,0,236.87,23a9.56,9.56,0,0,0-7-2.47,11.6,11.6,0,0,0-6.27,1.74,11.77,11.77,0,0,0-4.33,4.84,15.74,15.74,0,0,0-1.55,7.12,9.05,9.05,0,0,0,2.48,6.73,9.41,9.41,0,0,0,7,2.48A11.73,11.73,0,0,0,233.5,41.67Z" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M304.33,11.13l-8.28,41.65H284.59l.78-4.11a19.39,19.39,0,0,1-21.76,2.48,16.84,16.84,0,0,1-6.54-6.46,19.62,19.62,0,0,1-2.44-9.95,25.23,25.23,0,0,1,3.06-12.42A22.7,22.7,0,0,1,266,13.64a22.28,22.28,0,0,1,11.62-3.13q9.58,0,13.54,6.27l1.09-5.65ZM282.66,41.67A11.76,11.76,0,0,0,287,36.83a15.74,15.74,0,0,0,1.55-7.12A9,9,0,0,0,286,23a9.54,9.54,0,0,0-7-2.47,11.56,11.56,0,0,0-10.68,6.58,15.61,15.61,0,0,0-1.55,7.12,9,9,0,0,0,2.51,6.73,9.58,9.58,0,0,0,7,2.48A11.76,11.76,0,0,0,282.66,41.67Z" />
                                <path xmlns="http://www.w3.org/2000/svg" class="cls-2" fill="#213871"
                                    d="M355.27,11.13,327.55,55.56q-4.49,7.27-8.7,10.07a18.43,18.43,0,0,1-10.34,2.78,20.74,20.74,0,0,1-6.38-1,13.26,13.26,0,0,1-4.92-2.63l5.57-8.67a9.53,9.53,0,0,0,6.66,2.55,7,7,0,0,0,4-1.16,13.74,13.74,0,0,0,3.48-4l.39-.7-9.6-41.72h12.07L326,39.46l17.34-28.33Z" />
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="steps">
                <div class="step step1">
                    <div class="warpper-inner">
                        <div class="box-type">
                            <h1>Scan your Business Card</h1>
                            <p>TerraPay handles complex regulatory compliance and develops agile
                                routes to ensure your customers have safe, fast, and reliable access to an
                                ever-expanding global financial ecosystem.<br><br></p>
                            <button class="stepChange alternate" data-trigger=".step2">Scan your card</button>
                        </div>
                    </div>
                </div>

                <div class="step step2">
                    <div class="warpper-inner">
                        <p><span id="errorMsg"></span></p>
                        <div class="row">
                            <div class="scannerScreen">
                                <span class="scannerFrame">
                                    <svg class="scannerFrame" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px"
                                        y="0px" width="472.5px" height="472.5px" viewBox="113.75 43.75 472.5 472.5"
                                        enable-background="new 113.75 43.75 472.5 472.5" xml:space="preserve">
                                        <g>
                                            <path
                                                d="M122.5,213.85c4.828,0,8.75-3.922,8.75-8.75V70c0-4.828,3.922-8.75,8.75-8.75h135.1c4.828,0,8.75-3.922,8.75-8.75   s-3.922-8.75-8.75-8.75H140c-14.473,0-26.25,11.777-26.25,26.25v135.1C113.75,209.928,117.672,213.85,122.5,213.85z" />
                                            <path
                                                d="M586.25,70c0-14.473-11.777-26.25-26.25-26.25H424.9c-4.828,0-8.75,3.922-8.75,8.75s3.922,8.75,8.75,8.75H560   c4.828,0,8.75,3.922,8.75,8.75v135.1c0,4.828,3.922,8.75,8.75,8.75s8.75-3.922,8.75-8.75V70z" />
                                            <path
                                                d="M424.9,516.25H560c14.473,0,26.25-11.777,26.25-26.25V354.9c0-4.829-3.922-8.75-8.75-8.75s-8.75,3.922-8.75,8.75V490   c0,4.828-3.922,8.75-8.75,8.75H424.9c-4.828,0-8.75,3.922-8.75,8.75S420.072,516.25,424.9,516.25z" />
                                            <path
                                                d="M140,516.25h135.1c4.828,0,8.75-3.922,8.75-8.75s-3.922-8.75-8.75-8.75H140c-4.828,0-8.75-3.922-8.75-8.75V354.9   c0-4.829-3.922-8.75-8.75-8.75s-8.75,3.922-8.75,8.75V490C113.75,504.473,125.527,516.25,140,516.25z" />
                                        </g>
                                    </svg>
                                </span>
                                <!-- Here we streaming video from webcam -->
                                <video id="video" playsinline autoplay></video>
                            </div>
                            <h4 class="text-light">To get accurate results <br>keep card visible within frame.</h4>
                            <div class="scannerBtn">
                                <button class="btn btn-md btn-primary" id="rotateCamera">Change Camera</button>
                            </div>
                            <div class="scannerBtn">
                                <button class="btn btn-md btn-primary" id="btnCapture">Scan Now</button>
                            </div>
                            <div class="col-lg-6" style="display: none">
                                <h4>
                                    Captured image from Webcam <input type="button" class="btn btn-primary" id="btnSave"
                                        name="btnSave" value="Save the canvas(image) to server" />
                                </h4>
                                <!-- Webcam video snapshot -->
                                <canvas style="border:solid 1px #ddd;background-color:white;" id="canvas" width="475"
                                    height="475"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step step3">
                    <!--form-->
                    <div class="warpper-inner">
                        <h3>This is the data we've found from the QR code.</h3>
                        <div class="formContainer">

                        </div>
                        <!--                    <form class="form-style-9 dynamicForm">-->
                        <!--                        <ul>-->
                        <!--                            &lt;!&ndash; <li>-->
                        <!--                                <input type="text" name="firstname" id="firstname"-->
                        <!--                                       class="field-style field-split align-left" placeholder="Firstname" />-->
                        <!--                                <input type="text" name="lastname" id="lastname"-->
                        <!--                                       class="field-style field-split align-right" placeholder="Lastname" />-->

                        <!--                            </li>-->
                        <!--                            <li>-->
                        <!--                                <input type="email" id="email" name="email" class="field-style"-->
                        <!--                                       placeholder="Email" />-->
                        <!--                            </li>-->
                        <!--                            <li> &ndash;&gt;-->
                        <!--                            &lt;!&ndash;                            <input type="text" id="job_title" name="job_title"&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                   class="field-style field-split align-left" placeholder="Job Title" />&ndash;&gt;-->
                        <!--                            &lt;!&ndash; <input type="text" id="company_website" name="company_website"-->
                        <!--                                   class="field-style" placeholder="Company Website" />-->
                        <!--                        </li> &ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <textarea id="street_address" name="street_address" class="field-style"&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                          placeholder="Street Address"></textarea>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                            <input type="text" id="city" name="city" class="field-style field-split align-left"&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                   placeholder="City" />&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                            <input type="text" id="state" name="state" class="field-style field-split align-right"&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                   placeholder="state" />&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                            <input type="text" id="postal_code" name="postal_code"&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                   class="field-style field-split align-left" placeholder="Postal Code" />&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash; <p style="text-align: left">Lead status</p> &ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                            <ul>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Move to Lead">Move to Lead <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="New- No Conversation started">New- No Conversation started <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Prospecting- Conversation started">Prospecting- Conversation started <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Discovery Meeting Booked- Meeting/Demo booked">Discovery Meeting Booked- Meeting/Demo booked <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Qualified- Ready to receive quote">Qualified- Ready to receive quote <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Qualified- Add to nurture- Need more marketing effort">Qualified- Add to nurture- Need more marketing effort <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Unqualified- Not a good fit">Unqualified- Not a good fit <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Prospecting - Not met">Prospecting - Not met <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                <li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                    <input type="radio" class="field-style field-split align-left" id="" name="lead_status" value="Create Opportunity">Create Opportunity <br>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                                </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                            </ul>&ndash;&gt;-->
                        <!--                            &lt;!&ndash;                        </li>&ndash;&gt;-->
                        <!--                            &lt;!&ndash; <div style="text-align: left">-->
                        <!--                                <div>-->
                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-1">-->
                        <!--                                            <input id="hs_lead_status-input-1" type="radio" name="lead_status" value="Move to Lead">-->
                        <!--                                            <span>Move to Lead</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-2">-->
                        <!--                                            <input id="hs_lead_status-input-2" type="radio" name="lead_status" value="NEW">-->
                        <!--                                            <span>New- No Conversation started</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-3">-->
                        <!--                                            <input id="hs_lead_status-input-3" type="radio" name="lead_status">-->
                        <!--                                            <span>Prospecting- Conversation started</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-4">-->
                        <!--                                            <input id="hs_lead_status-input-4" type="radio" name="lead_status"-->
                        <!--                                                    value="Discovery Meeting Booked">-->
                        <!--                                            <span>Discovery Meeting Booked- Meeting/Demo booked</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-5">-->
                        <!--                                            <input id="hs_lead_status-input-5" type="radio" name="lead_status" value="Qualified">-->
                        <!--                                            <span>Qualified- Ready to receive quote</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-6">-->
                        <!--                                            <input id="hs_lead_status-input-6" type="radio" name="lead_status" value="Qualified- Add to nurture">-->
                        <!--                                            <span>Qualified- Add to nurture- Need more marketing effort</span></label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-7">-->
                        <!--                                            <input id="hs_lead_status-input-7" type="radio" name="lead_status" aria-invalid="false" value="Unqualified">-->
                        <!--                                            <span>Unqualified- Not a good fit</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-8">-->
                        <!--                                            <input id="hs_lead_status-input-8" type="radio" name="lead_status" value="Prospecting - Not met">-->
                        <!--                                            <span>Prospecting - Not met</span>-->
                        <!--                                        </label>-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <label id="hs_lead_status-label-9">-->
                        <!--                                            <input id="hs_lead_status-input-9" type="radio" name="lead_status" value="Create Opportunity">-->
                        <!--                                            <span>Create Opportunity</span></label>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <br>-->
                        <!--                            <li>-->
                        <!--                                <textarea  id="notes" name="notes" class="field-style" placeholder="Notes"></textarea>-->
                        <!--                            </li>-->
                        <!--                            <br>-->
                        <!--                            <div class="hs-form__field hs-form__field-inquiry_type hs-inquiry_type" style="text-align: left">-->
                        <!--                                <label id="inquiry_type-label" for="inquiry_type-input" class="hs-form__field__label hs-form__field__label&#45;&#45;required" data-required="true">-->
                        <!--                                    <p>Inquiry type</p>-->
                        <!--                                </label>-->
                        <!--                                <div style="display: flex; flex-grow: 1; align-items: flex-start; justify-content: flex-start; flex-direction: row;">-->
                        <!--                                    <div class="hs-form__field__options__container" role="group" aria-invalid="false" aria-labelledby="inquiry_type-label" aria-describedby="inquiry_type-description">-->
                        <!--                                        <div style="align-self: flex-start; flex: 0 1 auto;">-->
                        <!--                                            <label id="inquiry_type-label-1" class="hs-form__field__label hs-form__field__checkbox__label">-->
                        <!--                                            <input id="inquiry_type-input-1" class="hs-form__field__input hs-form__field__checkbox__input" type="checkbox" name="inquiry_type" aria-invalid="false" aria-labelledby="inquiry_type-label-1" aria-describedby="inquiry_type-description" aria-required="false" aria-checked="false" value="Product Inquiry">-->
                        <!--                                                <span class="hs-form__field__checkbox__label-text">Product Inquiry</span>-->

                        <!--                                            </label>-->
                        <!--                                        </div>-->
                        <!--                                        <div style="align-self: flex-start; flex: 0 1 auto;"><label id="inquiry_type-label-2" class="hs-form__field__label hs-form__field__checkbox__label">-->
                        <!--                                                <input id="inquiry_type-input-2" class="hs-form__field__input hs-form__field__checkbox__input" type="checkbox" name="inquiry_type" aria-invalid="false" aria-labelledby="inquiry_type-label-2" aria-describedby="inquiry_type-description" aria-required="false" aria-checked="false" value="Partnership Inquiry">-->
                        <!--                                                <span class="hs-form__field__checkbox__label-text">Partnership Inquiry</span>-->
                        <!--                                            </label>-->
                        <!--                                        </div>-->
                        <!--                                        <div style="align-self: flex-start; flex: 0 1 auto;"><label id="inquiry_type-label-3" class="hs-form__field__label hs-form__field__checkbox__label">-->
                        <!--                                                <input id="inquiry_type-input-3" class="hs-form__field__input hs-form__field__checkbox__input" type="checkbox" name="inquiry_type" aria-invalid="false" aria-labelledby="inquiry_type-label-3" aria-describedby="inquiry_type-description" aria-required="false" aria-checked="false" value="Others">-->
                        <!--                                                    <span class="hs-form__field__checkbox__label-text">Others</span>-->
                        <!--                                                </label>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            <br>-->
                        <!--                            <li style="display: block;text-align: left">-->
                        <!--                                <label id="partner_type-label" for="partner_type-input" class="hs-form__field__label hs-form__field__label&#45;&#45;required" data-required="true"><span>Partner Category: </span></label>-->
                        <!--                                <br><select id="partner_type-input" class="field-style" name="partner_type">-->
                        <!--                                    <option label="Please Select" disabled="" value="">Please Select</option>-->
                        <!--                                    <option label="Regulator" value="Regulator">Regulator</option>-->
                        <!--                                    <option label="Think tank" value="Think tank">Think tank</option>-->
                        <!--                                    <option label="Media Agency" value="Media Agency">Media Agency</option>-->
                        <!--                                    <option label="Investor" value="Investor">Investor</option>-->
                        <!--                                    <option label="Fintech" value="Fintech">Fintech</option>-->
                        <!--                                    <option label="Banking &amp; Insurance" value="Banking &amp; Insurance">Banking &amp;-->
                        <!--                                        Insurance-->
                        <!--                                    </option>-->
                        <!--                                    <option label="Wallet Operators" value="Wallet Operators">Wallet Operators</option>-->
                        <!--                                    <option label="NeoBank" value="NeoBank">NeoBank</option>-->
                        <!--                                    <option label="Payment Gateways" value="Payment Gateways">Payment Gateways</option>-->
                        <!--                                    <option label="Travel" value="Travel">Travel</option>-->
                        <!--                                    <option label="E-commerce" value="E-commerce">E-commerce</option>-->
                        <!--                                    <option label="Entertainment" value="Entertainment">Entertainment</option>-->
                        <!--                                    <option label="Social media" value="Social media">Social media</option>-->
                        <!--                                    <option label="Others" value="Others">Others</option>-->
                        <!--                                </select>-->
                        <!--                            </li>-->
                        <!--                            <br>-->
                        <!--                            <div class="hs-form__field hs-form__field-partner_status hs-partner_status" style="text-align: left"><label id="partner_status-label" for="partner_status-input" class="hs-form__field__label hs-form__field__label&#45;&#45;required" data-required="true"><span>Partner Status:</span></label><br>-->
                        <!--                                <select id="partner_status-input" class="hs-form__field__input is-placeholder" name="partner_status" required="" aria-invalid="false" aria-labelledby="partner_status-label" aria-describedby="partner_status-description" aria-required="true"><option label="Please Select" disabled="" value="">Please Select</option><option label="Existing" value="Existing">Existing</option><option label="New" value="New">New</option></select></div>-->
                        <!--                            <br>-->
                        <!--                            <div class="hs-form__field hs-form__field-sales_owner hs-sales_owner" style="text-align: left"><label id="sales_owner-label" for="sales_owner-input" class="hs-form__field__label hs-form__field__label&#45;&#45;required" data-required="true"><span>Sales Owner</span></label><br>-->
                        <!--                                <select id="sales_owner-input" class="hs-form__field__input is-placeholder" name="sales_owner" required="" aria-invalid="false" aria-labelledby="sales_owner-label" aria-describedby="sales_owner-description" aria-required="true"><option label="Please Select" disabled="" value="">Please Select</option><option label="Praveen Jaglan" value="Praveen Jaglan">Praveen Jaglan</option><option label="Manoj" value="Manoj">Manoj</option><option label="Fredrick" value="Fredrick">Fredrick</option><option label="Willie Kanyeki Maina" value="Willie Kanyeki Maina">Willie Kanyeki Maina</option><option label="Sheshagiri Sudheer Malliah" value="Sheshagiri Sudheer Malliah">Sheshagiri Sudheer Malliah</option><option label="Andronica" value="Andronica">Andronica</option><option label="Kaushik" value="Kaushik">Kaushik</option><option label="Sebastian" value="Sebastian">Sebastian</option><option label="Karen" value="Karen">Karen</option><option label="Edward" value="Edward">Edward</option><option label="Christopher" value="Christopher">Christopher</option><option label="Bassem Hassan Awada" value="Bassem Hassan Awada">Bassem Hassan Awada</option><option label="Daniel Philip Chackaparambil" value="Daniel Philip Chackaparambil">Daniel Philip Chackaparambil</option><option label="Moustafa" value="Moustafa">Moustafa</option><option label="Miller" value="Miller">Miller</option><option label="Hicham" value="Hicham">Hicham</option><option label="Diego" value="Diego">Diego</option><option label="Sahal" value="Sahal">Sahal</option><option label="Carlos" value="Carlos">Carlos</option><option label="Prabhakaran" value="Prabhakaran">Prabhakaran</option><option label="Mamadou Wilane" value="Mamadou Wilane">Mamadou Wilane</option><option label="Deepak Bhutra" value="Deepak Bhutra">Deepak Bhutra</option><option label="Koert Grasveld" value="Koert Grasveld">Koert Grasveld</option><option label="David Anthony John Backshall" value="David Anthony John Backshall">David Anthony John Backshall</option><option label="Jasper" value="Jasper">Jasper</option><option label="Maysara" value="Maysara">Maysara</option><option label="Cristina" value="Cristina">Cristina</option><option label="Maria Sellar" value="Maria Sellar">Maria Sellar</option></select></div> &ndash;&gt;-->

                        <!--                            <li class="submit">-->
                        <!--                                <input type="submit" class="button" id="submitForm" value="Submit" />-->
                        <!--                            </li>-->
                        <!--                        </ul>-->
                        <!--                    </form>-->
                    </div>
                </div>

                <div class="step step4">
                    <div class="warpper-inner box-type">
                        <h2>Contact created sucessfully.</h2>
                        <h4>Thank you!</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<!--<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>-->
<!--<script>-->
<!--    hbspt.forms.create({-->
<!--        region: "na1",-->
<!--        portalId: "21645343",-->
<!--        formId: "cc7c5c18-09ee-4f8f-9d83-d666807c9cff",-->
<!--        target:".formContainer"-->
<!--    });-->

<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
    hbspt.forms.create({
        region: "na1",
        portalId: "6929286",
        formId: "683b8c06-5bdc-417e-b366-b8c0c8215b7c",
        target: ".formContainer"
    });
</script>
<!--</script>-->

<script type="text/javascript">
    var cameraEnvironment = 'environment'
    // $.ajax({
    //     url: '/get-form',
    //     type: "GET",
    //     success: function(res, err) {
    //         if(res.status) {
    //             let setFormHTML = '';
    //             let inputString = `<li> <input type="text" name="__NAME__" id="__NAME__" class="field-style field-split align-left" placeholder="__LABEL__" required /></li>`
    //             let textAreaString = `<li> <textarea  id="__NAME__" name="__NAME__" class="field-style" placeholder="__LABEL__" required=__REQUIRED__></textarea> </li>`
    //             let optionString = `<option label="__LABEL__" value="__VALUE__">__LABEL__</option>`
    //             let dropdownString = `<li style="display: block;text-align: left">
    //                         <label id="__NAME__-label" for="__NAME__-input" class="hs-form__field__label hs-form__field__label--required" data-required="__REQUIRED__"><span>__SELECT_LABEL__: </span></label>
    //                         <br><select id="__NAME__-input" class="field-style" name="__NAME__">
    //                             <option label="Please Select" disabled="" value="">Please Select</option>`
    //
    //             let radioBtnString = `<div>
    //                                 <label id="__NAME__-label-1">
    //                                     <input id="__NAME__-input-1" type="radio" name="__NAME__" value="__VALUE__">
    //                                     <span>__LABEL__</span>
    //                                 </label>
    //                             </div>`
    //
    //             let checkboxString = `<div style="align-self: flex-start; flex: 0 1 auto;"><label id="__NAME__-label-2" class="hs-form__field__label hs-form__field__checkbox__label">
    //                                         <input id="__NAME__-input-2" class="hs-form__field__input hs-form__field__checkbox__input" type="checkbox" name="__NAME__" aria-invalid="false" aria-labelledby="__NAME__-label-2" aria-describedby="__NAME__-description" aria-required="true" aria-checked="false" value="__VALUE__">
    //                                         <span class="hs-form__field__checkbox__label-text">__LABEL__</span>
    //                                     </label>
    //                                 </div>`
    //             let formHTML = JSON.parse(res.data)
    //             console.log(formHTML);
    //             if(formHTML && formHTML.fieldGroups && formHTML.fieldGroups.length > 0) {
    //                 formHTML.fieldGroups.forEach(e => {
    //                     if(e.fields && e.fields.length > 0) {
    //                         // loop over fields
    //                         e.fields.forEach(field => {
    //                             if(field.hidden==true){
    //                                 setFormHTML +='<div style="display: none">'
    //                             }
    //                             if(field.fieldType === "single_line_text" || field.fieldType === "email") {
    //                                 setFormHTML += inputString.replace(/__NAME__/g, field.name).replace(/__LABEL__/g, field.label).replace(/__REQUIRED__/g, field.required)
    //                             } else if (field.fieldType === "multi_line_text") {
    //                                 setFormHTML += textAreaString.replace(/__NAME__/g, field.name).replace(/__LABEL__/g, field.label).replace(/__REQUIRED__/g, field.required)
    //                             } else if (field.fieldType === "dropdown") {
    //                                 setFormHTML += dropdownString.replace(/__NAME__/g, field.name).replace(/__SELECT_LABEL__/g, field.label).replace(/__REQUIRED__/g, field.required)
    //                                 for (const option of field.options) {
    //                                     setFormHTML += optionString.replace(/__LABEL__/g, option.label).replace(/__VALUE__/g, option.value)
    //                                 }
    //                                 setFormHTML += '</select></li><br>'
    //                             } else if (field.fieldType === "radio") {
    //                                 if(field.name === "hs_lead_status") {
    //                                     setFormHTML += `<p class="hs-form__field__label" style="text-align: left;">${field.label}</p>`
    //                                 }
    //                                 setFormHTML += `<div style="text-align: left"> <div>`
    //
    //                                 for (const option of field.options) {
    //                                     setFormHTML += radioBtnString.replace(/__NAME__/g, field.name).replace(/__VALUE__/g, option.value).replace(/__LABEL__/g, option.label)
    //                                 }
    //                                 setFormHTML += `</div></div><br>`
    //                             } else if (field.fieldType === "multiple_checkboxes") {
    //                                 setFormHTML += `<div class="hs-form__field hs-form__field-${field.name} hs-${field.name}" style="text-align: left">
    //                                             <label id="${field.name}-label" for="${field.name}-input" class="hs-form__field__label hs-form__field__label--required" data-required="${field.required}">
    //                                                 <p>${field.label}</p>
    //                                             </label>
    //                                             <div style="display: flex; flex-grow: 1; align-items: flex-start; justify-content: flex-start; flex-direction: row;">
    //                                                 <div class="hs-form__field__options__container" role="group" aria-invalid="false" aria-labelledby="${field.name}-label" aria-describedby="${field.name}-description">`
    //
    //                                 for (const option of field.options) {
    //                                     setFormHTML += checkboxString.replace(/__NAME__/g, field.name).replace(/__LABEL__/g, option.label).replace(/__VALUE__/g, option.value)
    //                                 }
    //                                 if(field.hidden==true){
    //                                     setFormHTML +='</div>'
    //                                 }
    //                                 setFormHTML += `</div></div></div><br>`
    //                             }
    //                         })
    //                     }
    //                 });
    //             }
    //
    //             $('.submit').before(setFormHTML);
    //         }
    //     }
    // })
</script>

<script type="text/javascript">
    function startCam(env) {

        const constraints = {
            audio: false,
            video: {
                width: 475, height: 475,
                // facingMode: { exact: "environment" },
                facingMode: env,
            },
        };


        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia(constraints)
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!", err0r);
                });
        }

    }
    function stop(e) {
        var stream = video.srcObject;
        var tracks = stream.getTracks();

        for (var i = 0; i < tracks.length; i++) {
            var track = tracks[i];
            track.stop();
        }
        video.srcObject = null;
    }
    if (/Android|SM|Mobile|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        // some code..

        $("#rotateCamera").css('display', 'block');
    }

    var video = document.querySelector("#video");

    // Basic settings for the video to get from Webcam

    // This condition will ask permission to user for Webcam access
    startCam(cameraEnvironment)
</script>

<script type="text/javascript">
    $(document).on("click", '#rotateCamera', function () {
        if (cameraEnvironment === 'user') {
            cameraEnvironment = 'environment'
        } else {
            cameraEnvironment = 'user'
        }
        startCam(cameraEnvironment)
    })
    $('.stepChange').on("click", function () {
        $('.step').hide();
        var target = $(this).attr('data-trigger');
        $(target).show()
    });

    // Below code to capture image from Video tag (Webcam streaming)
    $("#btnCapture").click(function () {
        var canvas = document.getElementById('canvas');
        var destCtx = canvas.getContext('2d');
        destCtx.drawImage(video, 0, 0);
        destCtx.setTransform(1, 0, 0, 1, 0, 0);

        var formData = new FormData(),
            uploadedImageName = 'document.png';

        canvas.toBlob(function (blob) {
            formData.append('user_picture', blob, uploadedImageName);
            $.ajax({
                url: '/upload-document',
                data: formData,
                type: "POST",
                dataType: "JSON",
                processData: false,
                contentType: false,
                success: function (res, err) {
                    if (res.status) {
                        $(document).find('.step2').hide();
                        $(document).find('.step3').show();
                        $(document).find('.hbspt-form').show();
                        $(document).find('input[name="email"]').val(res.values.email)
                        $(document).find('input[name="website"]').val(res.values.website)
                        $(document).find(`input[name="phone"]`).val(res.values.phone)
                        $(document).find('input[name="firstname"]').val(res.values.firstName)
                        $(document).find('input[name="lastname"]').val(res.values.lastName)
                        // $(`input[name="job_title"]`).val(res.values.job_title)
                        $(document).find(`input[name="company"]`).val(res.values.company_name)
                        $(document).find(`input[name="country"]`).val(res.values.country)
                        // $('#street_address').val(res.values.address)
                        // $(`input[name="city"]`).val(res.values.city)
                        // $(`input[name="state"]`).val(res.values.state)
                        // $(`input[name="postal_code"]`).val(res.values.postal_code)
                        // TODO add regex on text here.
                    } else {
                        alert('Unable to upload a photo')
                    }
                }
            });
        });

    });


    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);
        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }
        return new Blob([ia], { type: mimeString });
    }

    $(document).on("click", "#submitForm", function (e) {
        e.preventDefault();
        // let firstName= $("#firstname").val();
        // let lastName= $("#lastname").val();
        // let email= $("#email").val();
        // const apiData = {
        //     firstName:firstName,
        //     lastName:lastName,
        //     email:email,

        //     phone: $("#phone").val(),
        //     company_name: $("#company_name").val(),
        //     country: $("#country").val(),
        //     website: $("#website").val(),
        //     // job_title: $("#job_title").val(),

        //     // street_address: $("#street_address").val(),
        //     // city: $("#city").val(),
        //     // state: $("#state").val(),
        //     // postal_code: $("#postal_code").val(),
        //     notes: $('textarea[name=notes]').val(),
        //     lead_status:$('input[name=hs_lead_status]').val(),
        //     inquiry_type:$('input[name=inquiry_type]').val(),
        //     partner_category:$('select[name=partner_category]').val(),
        //     partner_status:$('select[name=partner_status]').val(),
        //     sales_owner:$('select[name=sales_owner]').val()

        // }

        // const form = document.querySelector('form')
        // const apiData = new FormData(form);
        var apiData = $('form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        if (apiData.firstName == '') {
            return alert('First name required!');
        }
        if (apiData.lastName == '') {
            return alert('Last name required!');
        }
        if (apiData.email == '' || !(/^[\-0-9a-zA-Z\.\+_]+@[\-0-9a-zA-Z\.\+_]+\.[a-zA-Z]{2,}$/).test(apiData.email)) {
            return alert('Email is not valid.');
        }
        $.ajax({
            type: "POST",
            url: '/submit-form',
            data: apiData,
            dataType: "json",
            // processData: false,
            // cache : false,
            success: function (res, err) {
                if (res.status) {
                    $(document).find('.step3').hide();
                    $(document).find('.step4').show();
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                } else {
                    alert("Unable to submit form");
                }
            }
        })
    })
</script>

</html>